/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}


/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.ilac-detail {
    background-color: white;
    margin-top: 30px;
    padding: 25px;
    height: 360px;
}

.ilac-detail h4 {
    height: 92px;
}

.ilac-detail ul {
    padding: 15px;
}

.ilac-detail ul li {
    list-style: disc;
}

.ilac img {
    padding: 25px;
    background-color: white;
}

.revealUp {
    opacity: 0;
    visibility: hidden;
}

.anime {
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}